body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #57b7cb;
    font-family: 'Montserrat', sans-serif;
}

h1,
p {
    color: #f4f4f7;
}

.forside h1 {
    text-transform: uppercase;
    margin: 60px;
    font-size: 50px;

}

.forside p {
    font-size: 20px;
    width: auto;
    line-height: 28px;
    width: 500px;
}

.forside,
.forside p {
    display: grid;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 40px;
}

button {
    width: 150px;
    height: 50px;
    margin: auto;
    color: #57b7cb;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow:  1px 4px #258DA2;

}
