body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #57b7cb;
  font-family: 'Montserrat', sans-serif;
  color: #f4f4f7;
}

/* HEADER START */
header {
  width: 100%;
}

.tilbage {
  width: 40%;
}
/* HEADER END */

/* TEXT START */
h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 46px;
  letter-spacing: 3px;
  text-align: center;
}

h6 {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
/* TEXT END */


/* FLEX START */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex img {
  width: 340px;
  margin-top: 100px;
}

.flex .cameraman{
    width: 15%;
    margin-left: 50px;
    margin-top: 120px;
}

  .infotext{
    border-radius: 50px;
    background: #f4f4f7;
      color: #57b7cb;
      height: 250px;
      font-size: 17px;
      width: 45%;
      padding: 50px;
      line-height: 32px;
      margin-bottom: 10px;
      margin-left: 20px;
    }
/* FLEX END */

/* FORSIDE START */
.forsideflex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forsideflex p {
    font-size: 25px;
    width: 55%;
    text-align: center;
    line-height: 40px
}

.indexman {
    width: 15%;
    height: auto;
    position: absolute;
    margin-top: 162px;
    margin-left: 50px;
}

.forside h1 {
  font-size: 70px;
}

.forside {
    margin-top: 100px;
    display: flex;
}

.forside button {
  width: 180px;
  height: 60px;
  color: #57b7cb;
  border-radius: 10px;
  border-style: none;
  background-color: white;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 1px 4px #258DA2;
  margin-top: 50px;
font-size: 25px;
}

.forside a {
  margin: 0 auto;
}

button a {
  text-decoration: none;
  color: #57b7cb;
}
/* FORSIDE END */

/* CATEGORY START */
.pick {
    margin-left: 15%;
    margin-bottom: 30px;
}

.category p{
    font-size: 22px;
    margin: 0% 18%;
    text-align: justify;
    line-height: 40px;
    margin-top: 50px;
}

.cat-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    margin-left: 35px
}

.cat-flex a {
    margin-right: 50px
}

.cat-flex p{
    margin-top: -12px;
    margin-left: 58px;
}

.cat-guy {
    width: 15%;
    position: absolute;
    margin-left: 870px;
    margin-top: -390px;
}

/* alt over virker */


.audio-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 30px;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
}

.audio-flex p{
    font-size: 17px;
    margin-top: -10px;
    margin-left: 35px
}

.audio {
    margin-left: 280px;
    margin-bottom: 20px
}

.audio-flex img {
    width: 60%
}

.category-boomer h1 {
  margin-top: 10px;
  margin-bottom: 100px;
}

.category button {
  width: 150px;
  height: 150px;
  margin: 25px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 5px #258DA2;
  border-style: none;
  background-color: #f4f4f7;
}

.categoryaudio button, .categorycamera button {
  width: 115px;
  height: 115px;
  margin: 25px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 4px #258DA2;
  border-style: none;
}

.category h1 {
  margin-top: 100px;
}


/* CATEGORY END */

/* kode til lighting 101 */
.tilbage{
  width: 30%;
}

.lighting {
    font-size: 46px;
    margin-left: 20%
}

.a {
    justify-content: flex-start;
    margin-left: 3%;
}

.audioboy {
    width: 20%;
    height: auto;
}

.ops {
    width: 60%;
    height: auto;
}

.lysops {
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left: 70px;
    margin-top: 25px;
}

.light-tutorial p {
    text-align: justify;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    line-height: 30px;
}

.toppen {
    display: flex;
    align-items: center;
    margin-left: 3%;

}

.api2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-end;
    margin-right: 35px;
    
}

#dag {
    margin-right: 10px;
}
