/* tilføjet for at være sikker på der ikke er en indbygget kant + /* ALLE ELEMTER MEDREGNER PADDING OG BORDER I DERES STØRRELSE */
body {  
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}  

/* CLEAR BRUGES EFTER FLOAT */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}