body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #57b7cb;
    font-family: 'Montserrat', sans-serif;
}

h1,
p {
    color: #f4f4f7;
}

h1 {
    text-transform: uppercase;
    margin-top: 100px;
    font-size: 46px;
    letter-spacing: 3px;
    text-align: center;
}

p {
    font-size: 20px;
    width: auto;
    line-height: 28px;
    width: 490px;
}

main,
p {
    display: grid;
    justify-content: center;
    margin: 10px;
    margin-bottom: 40px;
}

.forside button {
    width: 150px;
    height: 50px;
    margin: auto;
    color: #57b7cb;
    border-radius: 10px;
    border-style: none;
    background-color: white;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow:  1px 4px #258DA2;
}

button a{
    text-decoration: none;
    color: #57b7cb;
}

.category button{
    width: 130px;
    height: 130px;
    margin: 15px;
    border-radius: 50%;
    border-style: none;
}

.categoryaudio button{
    width: 115px;
    height: 115px;
    margin: 25px;
    border-radius: 50%;
    border-style: none;
    box-shadow:  0px 4px #258DA2;
    border-style: none;
