body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*{
  background: #57b7cb;
}
.forside, .forside p {
  display: flex;
  justify-content: center;
  text-align: center;
}
.forside p, h1{
  color: #f4f4f7;
}
