body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #57b7cb;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER START */
header {
  background: #57b7cb;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
}

.tilbage {
  width: 40%;
}
/* HEADER END */

/* TEXT START */
main,
p {
  display: grid;
  justify-content: center;
  margin: 10px;
  font-size: 20px;
  line-height: 30px;
  width: 480px;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 46px;
  letter-spacing: 3px;
  text-align: center;
}

h1,
p, h6 {
  color: #f4f4f7;
}

h6 {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  text-transform: uppercase;
}
/* TEXT END */

/* FLEX START */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex img {
  width: 340px;
  padding-top:
}
/* FLEX END */

/* FORSIDE START */
.forside h1 {
  font-size: 70px;
}

.forside {
  margin-top: 100px;
}

.forside button {
  width: 150px;
  height: 50px;
  color: #57b7cb;
  border-radius: 10px;
  border-style: none;
  background-color: white;
  font-size: 20px;
  text-transform: uppercase;
  box-shadow: 1px 4px #258DA2;
  margin-top: 50px;
}

.forside img {
  width: 170px;
  position: absolute;
  margin-left: 40px;
  margin-top: 100px;
}

.forside a {
  margin: 0 auto;
}

button a {
  text-decoration: none;
  color: #57b7cb;
}

.forsideapi {
  display: flex;
}

.forsideapi p {
  justify-content: flex-end;
  width: 50px;
}
/* FORSIDE END */

/* CATEGORY START */
.category-boomer h1 {
  margin-top: 10px;
  margin-bottom: 100px;
}

.category button {
  width: 120px;
  height: 120px;
  margin: 25px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 5px #258DA2;
  border-style: none;
}

.categoryaudio button, .categorycamera button {
  width: 115px;
  height: 115px;
  margin: 25px;
  border-radius: 50%;
  border-style: none;
  box-shadow: 0px 4px #258DA2;
  border-style: none;
}

.category h1 {
  margin-top: 100px;
}

#categoryman {
  width: 30%;
}
/* CATEGORY END */
